<h1>Pages#home</h1>

<div style="display: flex; justify-content: center; align-items: center; height: 80vh;">
  <%= link_to "Create a Project", new_project_path,
    style: "
      padding: 20px 40px;
      background: #4F46E5;
      color: white;
      font-size: 28px;
      font-weight: bold;
      border-radius: 12px;
      text-decoration: none;
      box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    "
  %>
</div>

<p>Find me in app/views/pages/home.html.erb</p>
